html,
body {
    margin: 0;
    padding: 5;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    /* Center horizontally */
    align-items: center;
    /* Center vertically */
}

#map {
    width: 100%;
    /* Adjust width to your desired size */
    height: 100%;
    /* Adjust height to your desired size */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Optional: subtle shadow for effect */
    border-radius: 8px;
    /* Optional: rounded corners */
}

#map svg {
    position: absolute;
    /* z-index doesn't work without positioning */
    z-index: 1;

    width: 100%;
    height: 100%;
    pointer-events: none;
}

#map circle {
    pointer-events: auto;
    fill: var(--color);
}

#map circle,
.legend > div {
    --color-departures: steelblue;
    --color-arrivals: darkorange;
    --color: color-mix(
        in oklch,
        var(--color-departures) calc(100% * var(--departure-ratio)),
        var(--color-arrivals)
    );
}

.legend {
    display: flex;
    margin-block: 2em;
    width: 100%;
}

.legend > div {
    flex: 1;
    background: var(--color); 
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5em; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
  }

header {
    display: flex;
    gap: 1em;
    align-items: baseline;
}


label {
    margin-left: auto;
}

time, em {
    display: block;
}

em {
    color: gray;
    font-style: italic;
}